html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: rgba(245, 245, 245, 0.3)
}

.screen {
  width: 100%;
  height: 100%;
}

/* ------------- */
/* LETTERS */
#alphabet {
  position: absolute;
  margin: auto;
  width: fit-content;
  left: 50%;
  transform: translate(-50%, 0);
}

/* FIRST ROW */
.letter.A {
  top: 3px;
}

.letter.B {
  top: 15px;
}

.letter.C {
  top: 19px;
}

.letter.D {
  top: 25px;
}

.letter.E {
  top: 33px;
}

.letter.F {
  top: 39px;
}

.letter.G {
  top: 50px;
}

.letter.H {
  top: 50px;
}

/* SEC ROW */
.letter.I {
  top: 38px;
}

.letter.J {
  top: 36px;
}

.letter.K {
  top: 30px;
}

.letter.L {
  top: 25px;
}

.letter.M {
  top: 25px;
}

.letter.N {
  top: 25px;
}

.letter.O {
  top: 35px;
}

.letter.P {
  top: 53px;
}

.letter.Q {
  top: 54px;
}

/* THIRD ROW */
.letter.R {
  top: 18px;
}

.letter.S {
  top: 16px;
}

.letter.T {
  top: 10px;
}

.letter.U {
  top: 25px;
}

.letter.V {
  top: 36px;
}

.letter.W {
  top: 35px;
}

.letter.X {
  top: 28px;
}

.letter.Y {
  top: 25px;
}

.letter.Z {
  top: 30px;
}


.letter img {
  max-width: 50px;
  max-height: 50px;
}

.letter.off::before {
  content: "";
  width: 45px;
  height: 45px;
  background-image: url("public/image/lamps/lamp-off_12x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -29px;
  left: -20%;
}

.letter.A.on::before,
.letter.E.on::before,
.letter.I.on::before,
.letter.M.on::before,
.letter.Q.on::before,
.letter.U.on::before,
.letter.Y.on::before {
  transition: ease 0.4s;
  content: "";
  width: 45px;
  height: 45px;
  background-image: url("public/image/lamps/lamp-pink2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -29px;
  left: -20%;
}

.letter.B.on::before,
.letter.F.on::before,
.letter.J.on::before,
.letter.N.on::before,
.letter.R.on::before,
.letter.V.on::before,
.letter.Z.on::before {
  content: "";
  width: 45px;
  height: 45px;
  background-image: url("public/image/lamps/lamp-green2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -29px;
  left: -20%;
}
.letter.C.on::before,
.letter.G.on::before,
.letter.K.on::before,
.letter.O.on::before,
.letter.S.on::before,
.letter.W.on::before {
  content: "";
  width: 45px;
  height: 45px;
  background-image: url("public/image/lamps/lamp-blue2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -29px;
  left: -20%;
}
.letter.D.on::before,
.letter.H.on::before,
.letter.L.on::before,
.letter.P.on::before,
.letter.T.on::before,
.letter.X.on::before {
  content: "";
  width: 45px;
  height: 45px;
  background-image: url("public/image/lamps/lamp-yellow2x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: -29px;
  left: -20%;
}

.row {
  display: flex;
}

.letter {
  position: relative;
  width: fit-content;
  /* background-color: wheat; */
  margin: 10px 20px;
}

/* ------------- */


#messageList {
  width: 200px;
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}



.light {
  animation: blink 1s steps(2, end);
}

@keyframes blink {
  from {
    color: black;
  }

  to {
    color: pink;
  }
}

#sendMessage :disabled {
  cursor: not-allowed;
}

#message {
  width: 424px;
  background: rgba(245, 245, 245, 0.3);
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  border: none;
}

/* INPUT */
#messageForm {
  z-index: 100;
  margin: auto;
  position: absolute;
  width: min-content;
  bottom: 85px;
  left: 50%;
  transform: translate(-50%, 0);
}

#sendMessage:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #2e5271;
  transition: ease-in-out 0.3s;
}

#sendMessage {
  transition: ease-out 0.5s;
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  transform: translate(-20%, 0%);
  border: none;
  border-radius: 50%;
  padding: 0;
}

#result {
  text-align: end;
}

.couch {
  position: absolute;
  width: fit-content;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.couch img {
  width: 55vw;
  min-width: 600px;
}

.light {
  position: absolute;
  width: fit-content;
  bottom: 30px;
  left: 10%;
}

.light img {
  width: 10vw;
  min-width: 100px;
}

.tv {
  position: absolute;
  width: fit-content;
  bottom: 0;
  left: 68%;
}

.tv img {
  width: 25vw;
  min-width: 300px;
}

/* Particules */
#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("public/image/background-null@2x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

/*# sourceMappingURL=styles.css.map */